name: Deploy to InfinityFree via FTP

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: FTP Deploy
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          host: ${{ secrets.PHILSYS_FTP_HOST }}
          user: ${{ secrets.PHILSYS_FTP_USERNAME }}
          password: ${{ secrets.PHILSYS_FTP_PASSWORD }}
          port: ${{ secrets.PHILSYS_FTP_PORT }}
          localDir: "./"
          remoteDir: ${{ secrets.PHILSYS_REMOTE_DIR }}
          forceSsl: false
