name: Deploy to InfinityFree

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp

      - name: Upload files
        run: |
          lftp -c "open -u ${{ secrets.PHILSYS_FTP_USERNAME }},${{ secrets.PHILSYS_FTP_PASSWORD }} ${{ secrets.PHILSYS_FTP_HOST }}; 
          set ftp:passive-mode true; 
          set net:timeout 60; 
          mirror -R --verbose --no-perms ./ ${{ secrets.PHILSYS_REMOTE_DIR }}; 
          quit"
