name: Deploy to InfinityFree via FTP

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: FTP Deploy with timeout fix
        uses: airvzxf/ftp-deployment-action@latest
        with:
          server: ftpupload.net
          user: if0_41250312
          password: KgYVVdsrD6ymy0n
          local_dir: "./"
          remote_dir: /htdocs/
          delete: "false"
          ftp_secure: "false"
          ftp_port: 21
          max_retries: 50
          net_timeout: 120s
          net_max_retries: 5
          ftp_passive_mode: "true"
