name: Deploy to InfinityFree via FTP

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: FTP Sync ALL changes
        uses: airvzxf/ftp-deployment-action@latest
        with:
          server: ftpupload.net
          user: if0_41250312
          password: KgYVVdsrD6ymy0n
          local_dir: "./"
          remote_dir: /htdocs/
          delete: "false"
          max_retries: 100
          net_timeout: 300s
          net_max_retries: 10
          ftp_passive_mode: "true"
          no_symlinks: "true"
          ftp_ssl_allow: "false"
