name: Deploy to InfinityFree via FTP

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: FTP Deploy
        uses: airvzxf/ftp-deployment-action@latest
        with:
          server: ${{ secrets.PHILSYS_FTP_HOST }}
          user: ${{ secrets.PHILSYS_FTP_USERNAME }}
          password: ${{ secrets.PHILSYS_FTP_PASSWORD }}
          local_dir: "./"
          remote_dir: ${{ secrets.PHILSYS_REMOTE_DIR }}
          delete: "false"
          ftp_secure: "false"
          ftp_port: ${{ secrets.PHILSYS_FTP_PORT }}
